body {
    background-color: #121212; /* Dark gray background */
    color: #fff; /* White text */
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.subscription-box {
    display: flex;
    flex-direction: column; /* To stack children vertically */
    align-items: center; /* Center-align content */
    background-color: #1b1b1b; /* Slightly lighter black */
    padding: 20px;
    border: 2px solid #00ff00; /* Green border */
    border-radius: 10px;
    box-shadow: 0 0 10px #00ff00; /* Green shadow */
}

h1 {
    color: #00ff00; /* Green heading text */
}

.card-container {
    display: flex; /* To align cards horizontally */
    justify-content: space-around; /* Distribute space between the cards */
    width: 100%; /* Make the container full-width */
    margin-top: 20px; /* Adjust as needed */
}

.card {
    flex: 1; /* Equal width for both cards */
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 1.5rem;
}

.header {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: #fff;
}

.price {
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;
    color: #fff;
}

.desc {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    line-height: 1.625;
    color: rgba(156, 163, 175, 1);
}

.lists {
    margin-bottom: 1.5rem;
    flex: 1 1 0%;
    color: rgba(156, 163, 175, 1);
}

.lists .list {
    margin-bottom: 0.5rem;
    display: flex;
    margin-left: 0.5rem;
}

.lists .list svg {
    height: 1.5rem;
    width: 1.5rem;
    flex-shrink: 0;
    margin-right: 0.5rem;
    color: rgba(167, 139, 250, 1);
}

.action {
    border: none;
    outline: none;
    display: inline-block;
    border-radius: 0.25rem;
    background-color: rgba(167, 139, 250, 1);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: rgba(17, 24, 39, 1);
}

/* Add any additional styling as needed */
